<h1>Thank for choo-choo-choosing JaqRy Railways!</h1>

<h3>JaqRy's Lines</h3>
<ul>
  <% @list_of_lines.each() do |line| %>
    <li><a href='/lines/<%= line.id() %>'><%= line.name() %></a></li>
  <% end %>
</ul>
<br />

<h4>FOR JAQRY EMPLOYEE USE ONLY: Add a new line</h4>
<form action='/post_line' method='post'>
  <label for='line_name'>Line name:</label>
  <input id='line_name' name='line_name' type='text' placeholder='Green'>
  <button type='submit' class='btn btn-primary'>Add This Line</button>
</form>
<br />
<h4>Add new stop(s) for a line:</h4>
<form action='/patch_line' method='post'>
<!--   <input name="_method" type="hidden" value="patch">
 --><!--   maybe need to change line_name to a new variable below?
 -->
  <label for='line_name'>Line name:</label>
  <input id='line_name' name='line_name' type='text' placeholder='Green'>
  <label for='station_names_string'>Stations this line serves:</label>
  <input id='station_names_string' name='station_names_string' type='text' placeholder='North Haverbrook, Hooverville'>
  <button type='submit' class='btn btn-primary'>Add these stops</button>
</form>
<br />

<h3>Communities Served by JaqRy</h3>
<ul>
  <% @list_of_stations.each() do |station| %>
    <li><a href='/stations/<%= station.id() %>'><%= station.name() %></a></li>
  <% end %>
</ul>
<br />

<h4>FOR JAQRY EMPLOYEE USE ONLY: Add a new station</h4>
<form action='/post_station' method='post'>
  <label for='station_name'>Station name:</label>
  <input id='station_name' name='station_name' type='text' placeholder='Hooverville'>
  <button type='submit' class='btn btn-primary'>Add This Station</button>
</form>
<br />
<h4>Add new line(s) for a station:</h4>
<form action='/patch_station' method='post'>
<!--   <input name="_method" type="hidden" value="patch">
 --><!--   maybe need to change station_name to a new variable below?
 -->
  <label for='station_name'>Station name:</label>
  <input id='station_name' name='station_name' type='text' placeholder='Hooverville'>
  <label for='line_names_string'>Lines that serve this station:</label>
  <input id='line_names_string' name='line_names_string' type='text' placeholder='Green, Black'>
  <button type='submit' class='btn btn-primary'>Add these stops</button>
</form>
<br />
